[Desktop Entry]
Name=Mattermost
Exec=/opt/Mattermost/mattermost-desktop --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=mattermost-desktop
StartupWMClass=Mattermost
Comment=Mattermost
MimeType=x-scheme-handler/mattermost;
Categories=Network;InstantMessaging;
